<% content_for :title do %>bus routes<% end %>

<h1>Bus Routes</h1>


<h3>BUS SCHEDULES</H3>

<%
@companies = [
'Fenur S.A.',
'Viña Bus S.A.',
'Sol y Mar S.A',
'Viña Bus S.A',
'Buses del Gran Valparaiso S.A'
] %>
<!--
<% @companies.each_with_index do |company, index| %>

  <%= link_to buscompany_path, class: "bus-button" do %>
    <%= index+1 %>00 - <%=company %>
  <% end %>

<% end %>

<hr/>
-->
<div id="wrapper">
<table  class = "bus-table">
<% @companies.each_with_index do |company, index| %>

    <tr>
      <td><%= link_to "#{index+1}00", buscompany_path %></td>
      <td><%= link_to company, buscompany_path %></td>
    </tr>
  

<% end %>
</table>
</div>







