<% content_for :title do %>Where do you want to go?<% end %>


<h1>Where do you want to go?</h1>

<div class="wrapper">

<!-- Tag para iniciar um form -->
<%= form_tag(path_path, method: "get", class: "search_fields") do %>

<!-- Form contents goes here --><br/>

  
<!-- Destiny Field -->
  <%= label_tag(:destination, "Destination:") %>
  <%= text_field_tag(:destination, 'Type here the destination adress', id: 'destination_field') %> 
  
  
  <%= text_field_tag(:error, nil, id: 'gmaps-error') %> 

<!-- Botão Enviar -->
  <%= submit_tag("Show me!") %>
<% end %>

<br/>

<!-- Teste -->

<%= text_field_tag(@post) do |f| %>
<%= f.input :address, :input_html =>{:id => 'gmaps-input-address'}, :placeholder => 'Start typing a place...' %>
<% end %>

<!-- Getting auto complete from Google -->

<script type="text/javascript">
jQuery(function() {
  var completer;

  completer = GmapsAutoComplete.init({
    inputField: '#gmaps-input-address',
    errorField: '#gmaps-error'
  });

  completer.autoCompleteInit({
    country: "us"
  });
});
</script>


</div>
</div>
