<div id="wrapper">

<div class="content">



<div class="panel_fixed">
<%= image_tag 'line-bus.svg' %>	
</div>

<div id="wrapper_tab">

	<div class="custom_nav">
			<div class="menu_ico">
			<%= link_to root_path, class: 'btn_menu' do %>
			<%= image_tag 'ico_menu.svg' %>
			<% end %>
			</div>
			
			<div class="home_ico">
			<%= link_to root_path, class: 'btn_home' do %>
			<%= image_tag 'ico_home.svg' %>
			<% end %>
			</div>
			
			<div class="search_ico">
			<%= link_to destination_path, class: 'btn_search' do %>
			<%= image_tag 'ico_search.svg' %>
			<% end %>
			</div>
	
	</div> <!-- end DIV custom_nav -->


			<div id="result_wrapper">
			
					<div id="route_result">
					
					<h1>Get on the bus</h1>
					<h7><%= @route.name %></h7> to:
					
					<div id="dest_adrees">
					<%= @dest_name %>
					</div>
					
					<div id="bus_image">
					<%= image_tag 'busao-gem.jpg' %>
					</div>
					
					<div id="fare_result">
					<h7>Fare <h8>CLP</h8>390<h8>,00</h8></h7>
					</div>
					
						
					</div> <!-- end DIV route_result -->
			
			</div> <!-- end DIV result_wrapper -->
			
								
					<div id="result_alert">
					<%= image_tag 'ico_alert.svg' %>
					2 Buses alert!
					</div>

</div> <!-- end DIV wrapper_tab -->

</div> <!-- end DIV content -->

</div> <!-- end DIV wrapper -->



<!-- //GEM STUFF TO SHOW THE TAB -->


<script type="text/javascript">

$(document).ready(function(){
    $(".trigger").click(function(){
        $(".panel").toggle("slow");
        $(this).toggleClass("active");
        return false;
    });
    
    $(".panel").click(function () {
    	$(this).toggle("slow");
    	$('.trigger').toggleClass("active");
    	return false;
    });
});

</script>